<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708403892509-p3s08s4sn8809bvjo1qcpd2s946h0qqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708403892509-p3s08s4sn8809bvjo1qcpd2s946h0qqd</string>
	<key>API_KEY</key>
	<string>AIzaSyDpXqjuts7BKyOYWirjcAnDAVlBsXKLDvw</string>
	<key>GCM_SENDER_ID</key>
	<string>708403892509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseMethode</string>
	<key>PROJECT_ID</key>
	<string>fir-methode</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-methode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708403892509:ios:b2effd100cc9ede01b91f4</string>
</dict>
</plist>